DATA2001 Project - Greater Sydney Analysis

Authors: Lakshya Sakhuja (540863213), Ayush Arora (540906543) and Drishti Nehra (530685294)

In [ ]:
# importing all the required libraries.

import os
import time
import json
import sql
import zipfile
import requests
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from sqlalchemy import create_engine
from geoalchemy2 import Geometry
from urllib.parse import quote_plus
from sqlalchemy.engine import URL
from IPython.core.magic import register_line_magic

In [ ]:
# installing dependencies (skip this step if already installed)

!pip install geopandas
!pip install sqlalchemy
!pip install ipython-sql sqlalchemy psycopg2-binary
!pip install ipython-sql

We are considering that you have a folder named "data2001", in which you have the following files:

1. This jupyter notebook
2. Businesses.csv
3. Income.csv
4. Population.csv
5. Stops.txt
6. SA2_2021_AUST_SHP_GDA2020.zip (downloaded exactly from the link given in assignment specifications to the ABS Website)
7. db.json (to connect to postgres server)

db.json contains this (in a .json file):

{
  "user": "postgres",
  "password": "Lakshya@0710",
  "host": "localhost",
  "port": 5432,
  "database": "data2001_project"
}

In [ ]:
# making the whole notebook universal. 

target_folder = "data2001" # change this name to your folder name.
current_path = os.getcwd()

while target_folder not in os.listdir(current_path) and current_path != "/":
    current_path = os.path.dirname(current_path)

project_root = os.path.join(current_path, target_folder)
os.chdir(project_root)

os.environ["PROJECT_ROOT"] = project_root
print("Project root set to:", project_root)

Expected output (this one will change according to the system):

Project root set to: /Users/lakshyasakhuja/data2001

In [ ]:
# python helper function to read the JSON and connect.

def connect_from_json(json_path="db.json"):
    project_root = os.environ.get("PROJECT_ROOT", os.getcwd())
    full_path = os.path.join(project_root, json_path)

    with open(full_path, "r") as file:
        creds = json.load(file)

    password = quote_plus(creds["password"])  # Encode special characters like @ or :
    
    url = f"postgresql://{creds['user']}:{password}@{creds['host']}:{creds['port']}/{creds['database']}"
    print("Connection URL:", url)
    
    return create_engine(url)

In [ ]:
# using the engine to connect.

engine = connect_from_json()

Expected output:

Connection URL: postgresql://postgres:Lakshya%400710@localhost:5432/data2001_project

In [ ]:
# converting Stops.txt to stops.csv for better processing.

stops = pd.read_csv("Stops.txt", delimiter=",")
stops.to_csv("stops.csv", index=False)

In [ ]:
# load all csv files.

businesses = pd.read_csv("Businesses.csv")
population = pd.read_csv("Population.csv")
income     = pd.read_csv("Income.csv")
stops      = pd.read_csv("Stops.csv")

In [ ]:
# unzipping the catchments file.

zip_path = "Catchments.zip" 
extract_to = "catchments_files"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to)

os.chdir(extract_to)

In [ ]:
# changing the working directory.

os.chdir(project_root)

In [ ]:
# cleaning the businesses dataset (using pre-loaded 'businesses')

businesses_df = businesses.copy()
businesses_df.columns = [col.lower().replace('-', '').replace(' ', '') for col in businesses_df.columns]

for col in businesses_df.columns:
    if 'businesses' in col:
        businesses_df[col] = pd.to_numeric(businesses_df[col], errors='coerce')

businesses_df = businesses_df.dropna(subset=['sa2_code', 'industry_code'])
businesses_df['sa2_name'] = businesses_df['sa2_name'].str.strip().str.title()
businesses_df['industry_name'] = businesses_df['industry_name'].str.strip().str.title()
businesses_df.drop_duplicates(inplace=True)
business_columns = [col for col in businesses_df.columns if '_businesses' in col and col != 'total_businesses']
businesses_df['total_businesses'] = businesses_df[business_columns].sum(axis=1)
businesses_df['has_businesses'] = businesses_df['total_businesses'] > 0

businesses_df.to_csv('cleaned_businesses.csv', index=False)

In [ ]:
# cleaning the income dataset (using pre-loaded 'income')

income_cleaned = income.copy()
income_cleaned.columns = [col.lower().replace('-', '').replace(' ', '') for col in income_cleaned.columns]
income_cleaned.rename(columns={'sa2_code21': 'sa2_code'}, inplace=True)

for col in ['earners', 'median_age', 'median_income', 'mean_income']:
    income_cleaned[col] = pd.to_numeric(income_cleaned[col], errors='coerce')

income_cleaned['sa2_name'] = income_cleaned['sa2_name'].str.strip().str.title()
income_cleaned.drop_duplicates(inplace=True)
income_cleaned['has_income'] = income_cleaned['median_income'] > 0

income_cleaned.to_csv('cleaned_income.csv', index=False)

In [ ]:
# cleaning the population dataset (using pre-loaded 'population')

population_cleaned = population.copy()
population_cleaned.columns = [col.lower().replace('-', '').replace(' ', '') for col in population_cleaned.columns]

for col in population_cleaned.columns:
    if '_people' in col or col == 'total_people':
        population_cleaned[col] = pd.to_numeric(population_cleaned[col], errors='coerce')

population_cleaned['sa2_name'] = population_cleaned['sa2_name'].str.strip().str.title()
population_cleaned.drop_duplicates(inplace=True)
population_cleaned['has_population'] = population_cleaned['total_people'] > 0

population_cleaned.to_csv('cleaned_population.csv', index=False)

In [ ]:
# cleaning the stops dataset.

stops_cleaned = stops.copy()
stops_cleaned['stop_name'] = stops_cleaned['stop_name'].str.strip().str.title()
stops_cleaned.drop(columns=['stop_code'], inplace=True)
stops_cleaned['location_type'] = stops_cleaned['location_type'].fillna(0)
stops_cleaned['location_type'] = stops_cleaned['location_type'].astype(int)
stops_cleaned.drop(columns=['has_coordinates'], errors='ignore', inplace=True)
stops_cleaned.drop_duplicates(inplace=True)

stops_cleaned.to_csv('cleaned_stops.csv', index=False)

In [ ]:
# changing the working directory.

os.chdir(os.path.join(project_root, "catchments_files/catchments"))

In [ ]:
# cleaning catchments_primary shape file and uploading it.

primary = gpd.read_file("catchments_primary.shp").to_crs(epsg=4326)
primary["USE_ID"] = pd.to_numeric(primary["USE_ID"], errors="coerce").astype("Int64")
primary["ADD_DATE"] = pd.to_datetime(primary["ADD_DATE"], format="%Y%m%d", errors="coerce")

year_columns = [
    "KINDERGART", "YEAR1", "YEAR2", "YEAR3", "YEAR4", "YEAR5", 
    "YEAR6", "YEAR7", "YEAR8", "YEAR9", "YEAR10", "YEAR11", "YEAR12"
]

for col in year_columns:
    primary[col] = primary[col].map({"Y": True, "N": False}).astype("boolean")

engine = connect_from_json()
primary.to_postgis("school_catchments_primary", engine, if_exists="replace", index=False)

In [ ]:
# cleaning catchments_secondary shape file and uploading it.

secondary = gpd.read_file("catchments_secondary.shp").to_crs(epsg=4326)
secondary['USE_ID'] = pd.to_numeric(secondary['USE_ID'], errors='coerce')
secondary['ADD_DATE'] = pd.to_datetime(secondary['ADD_DATE'], errors='coerce')
yn_fields = ['KINDERGART', 'PREP', 'YEAR1', 'YEAR2', 'YEAR3', 'YEAR4', 'YEAR5',
             'YEAR6', 'YEAR7', 'YEAR8', 'YEAR9', 'YEAR10', 'YEAR11', 'YEAR12']

for col in yn_fields:
    if col in secondary.columns:
        secondary[col] = secondary[col].map({'Y': True, 'N': False})

secondary['CATCH_TYPE'] = secondary['CATCH_TYPE'].astype('category')
secondary['USE_DESC'] = secondary['USE_DESC'].astype('category')

secondary.to_postgis("school_catchments_secondary", engine, if_exists="replace", index=False)

In [ ]:
# cleaning catchments_future shape file and uploading it.

future = gpd.read_file("catchments_future.shp").to_crs(epsg=4326)
future['USE_ID'] = pd.to_numeric(future['USE_ID'], errors='coerce')
future['ADD_DATE'] = pd.to_datetime(future['ADD_DATE'], errors='coerce')

year_fields = ['KINDERGART', 'YEAR1', 'YEAR2', 'YEAR3', 'YEAR4', 'YEAR5',
               'YEAR6', 'YEAR7', 'YEAR8', 'YEAR9', 'YEAR10', 'YEAR11', 'YEAR12']

for col in year_fields:
    if col in future.columns:
        future[col] = future[col].apply(lambda x: True if x == 2024 else False)

future['CATCH_TYPE'] = future['CATCH_TYPE'].astype('category')
future['USE_DESC'] = future['USE_DESC'].astype('category')

future.to_postgis("school_catchments_future", engine, if_exists="replace", index=False)

In [ ]:
# changing the working directory.

os.chdir(project_root)

In [ ]:
# uploading the remaining three datasets.

income_df = pd.read_csv('cleaned_income.csv')
income_df.to_sql("income_data", engine, if_exists="replace", index=False)

population_df = pd.read_csv("cleaned_population.csv")
population_df.to_sql("population_data", engine, if_exists="replace", index=False)

business_df = pd.read_csv("cleaned_businesses.csv")
business_df.to_sql("business_data", engine, if_exists="replace", index=False)

stops_df = pd.read_csv("cleaned_stops.csv")
stops_df.to_sql("stops_data", engine, if_exists="replace", index=False)

Expected output:

718

In [ ]:
# working on the shapefile of the SA2 digital boundaries and uploading it

zip_path = "SA2_2021_AUST_SHP_GDA2020.zip"
extract_dir = "sa2_unzipped"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

sa2_path = os.path.join(extract_dir, "SA2_2021_AUST_GDA2020.shp")
sa2 = gpd.read_file(sa2_path).to_crs(epsg=4326)

engine = connect_from_json()
sa2.to_postgis("sa2_regions", engine, if_exists="replace", index=False)

Expcted output:

Connection URL: postgresql://postgres:Lakshya%400710@localhost:5432/data2001_project

In [ ]:
# filtering out only the 'Greater Sydney' regions from SA2 table.

sa2_gs = gpd.read_postgis(
    """
    SELECT * FROM sa2_regions
    WHERE "GCC_NAME21" = 'Greater Sydney'
    """,
    engine,
    geom_col="geometry"
)

sa2_gs.to_postgis("sa2_greater_sydney", engine, if_exists="replace", index=False)

sa2["bbox"] = sa2.geometry.bounds.apply(lambda b: (b.minx, b.miny, b.maxx, b.maxy), axis=1)

In [ ]:
# a function that returns all POIs from the API within a specified bounding box of coordinates.

def fetch_pois(minx, miny, maxx, maxy):
    url = "https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_POI/MapServer/0/query"
    params = {
        "f": "geojson",
        "geometry": f"{minx},{miny},{maxx},{maxy}",
        "geometryType": "esriGeometryEnvelope",
        "inSR": 4326,
        "spatialRel": "esriSpatialRelIntersects",
        "outFields": "*",
        "returnGeometry": "true"
    }

    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response.json()
    else:
        print("API Error:", response.status_code)
        return None

output_path = "pois_partial.csv"
if os.path.exists(output_path):
    pois_df = pd.read_csv(output_path)
    processed_sa2s = set(pois_df['sa2_name'])
else:
    pois_df = pd.DataFrame()
    processed_sa2s = set()

In [ ]:
# computes and stores bounding boxes for each SA2 region as (minx, miny, maxx, maxy) tuples.

sa2["bbox"] = sa2.geometry.bounds.apply(lambda row: (row.minx, row.miny, row.maxx, row.maxy), axis=1)
sa2["bbox"] = sa2.geometry.bounds.values.tolist()

In [ ]:
# getting all column names to help choose primary and foreign keys (if necessary).

tables = [
    "business_data",
    "income_data",
    "population_data",
    "sa2_greater_sydney",
    "sa2_regions",
    "school_catchments_primary",
    "school_catchments_secondary",
    "school_catchments_future",
    "stops_data",
]

def get_columns(table, is_geo=False):
    try:
        if is_geo:
            df = gpd.read_postgis(f'SELECT * FROM {table} LIMIT 1', engine, geom_col="geometry")
        else:
            df = pd.read_sql(f'SELECT * FROM {table} LIMIT 1', engine)
        print(f"\nTable: {table}")
        print(list(df.columns))
    except Exception as e:
        print(f"\nTable: {table} â€” ERROR: {e}")

for table in tables:
    is_geo = any(kw in table for kw in ["catchments", "regions", "pois"])
    get_columns(table, is_geo=is_geo)

Expected output:

Table: business_data
['industry_code', 'industry_name', 'sa2_code', 'sa2_name', '0_to_50k_businesses', '50k_to_200k_businesses', '200k_to_2m_businesses', '2m_to_5m_businesses', '5m_to_10m_businesses', '10m_or_more_businesses', 'total_businesses', 'has_businesses', 'id']

Table: income_data
['sa2_code', 'sa2_name', 'earners', 'median_age', 'median_income', 'mean_income', 'has_income']

Table: population_data
['sa2_code', 'sa2_name', '04_people', '59_people', '1014_people', '1519_people', '2024_people', '2529_people', '3034_people', '3539_people', '4044_people', '4549_people', '5054_people', '5559_people', '6064_people', '6569_people', '7074_people', '7579_people', '8084_people', '85andover_people', 'total_people', 'has_population']

Table: sa2_greater_sydney
['sa2_code', 'sa2_name', 'chg_flag', 'chg_lbl', 'sa3_code', 'sa3_name', 'sa4_code', 'sa4_name', 'gcc_code', 'gcc_name', 'ste_code', 'ste_name', 'aus_code', 'aus_name', 'areasqkm', 'loci_uri', 'geometry']

Table: sa2_regions
['sa2_code', 'sa2_name', 'chg_flag', 'chg_lbl', 'sa3_code', 'sa3_name', 'sa4_code', 'sa4_name', 'gcc_code', 'gcc_name', 'ste_code', 'ste_name', 'aus_code', 'aus_name', 'areasqkm', 'loci_uri', 'geometry']

Table: school_catchments_primary
['use_id', 'catch_type', 'use_desc', 'add_date', 'kindergart', 'year1', 'year2', 'year3', 'year4', 'year5', 'year6', 'year7', 'year8', 'year9', 'year10', 'year11', 'year12', 'priority', 'geometry']

Table: school_catchments_secondary
['use_id', 'catch_type', 'use_desc', 'add_date', 'kindergart', 'year1', 'year2', 'year3', 'year4', 'year5', 'year6', 'year7', 'year8', 'year9', 'year10', 'year11', 'year12', 'priority', 'geometry']

Table: school_catchments_future
['use_id', 'CATCH_TYPE', 'USE_DESC', 'ADD_DATE', 'kindergart', 'year1', 'year2', 'year3', 'year4', 'year5', 'year6', 'year7', 'year8', 'year9', 'year10', 'year11', 'year12', 'geometry']

Table: stops_data
['stop_id', 'stop_name', 'stop_lat', 'stop_lon', 'location_type', 'parent_station', 'wheelchair_boarding', 'platform_code']

In [ ]:
%reload_ext sql

In [ ]:
def get_sql_url(json_path="db.json"):
    with open(json_path, "r") as file:
        creds = json.load(file)
    password = quote_plus(creds["password"])
    return f"postgresql://{creds['user']}:{password}@{creds['host']}:{creds['port']}/{creds['database']}"

In [ ]:
%sql {get_sql_url()}

In [ ]:
%%sql
-- changing column names for consistency.

ALTER TABLE sa2_regions RENAME COLUMN "SA2_CODE21" TO sa2_code;
ALTER TABLE sa2_regions RENAME COLUMN "SA2_NAME21" TO sa2_name;
ALTER TABLE sa2_regions RENAME COLUMN "CHG_FLAG21" TO chg_flag;
ALTER TABLE sa2_regions RENAME COLUMN "CHG_LBL21" TO chg_lbl;
ALTER TABLE sa2_regions RENAME COLUMN "SA3_CODE21" TO sa3_code;
ALTER TABLE sa2_regions RENAME COLUMN "SA3_NAME21" TO sa3_name;
ALTER TABLE sa2_regions RENAME COLUMN "SA4_CODE21" TO sa4_code;
ALTER TABLE sa2_regions RENAME COLUMN "SA4_NAME21" TO sa4_name;
ALTER TABLE sa2_regions RENAME COLUMN "GCC_CODE21" TO gcc_code;
ALTER TABLE sa2_regions RENAME COLUMN "GCC_NAME21" TO gcc_name;
ALTER TABLE sa2_regions RENAME COLUMN "STE_CODE21" TO ste_code;
ALTER TABLE sa2_regions RENAME COLUMN "STE_NAME21" TO ste_name;
ALTER TABLE sa2_regions RENAME COLUMN "AUS_CODE21" TO aus_code;
ALTER TABLE sa2_regions RENAME COLUMN "AUS_NAME21" TO aus_name;
ALTER TABLE sa2_regions RENAME COLUMN "AREASQKM21" TO areasqkm;
ALTER TABLE sa2_regions RENAME COLUMN "LOCI_URI21" TO loci_uri;

ALTER TABLE sa2_greater_sydney RENAME COLUMN "SA2_CODE21" TO sa2_code;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "SA2_NAME21" TO sa2_name;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "CHG_FLAG21" TO chg_flag;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "CHG_LBL21" TO chg_lbl;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "SA3_CODE21" TO sa3_code;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "SA3_NAME21" TO sa3_name;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "SA4_CODE21" TO sa4_code;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "SA4_NAME21" TO sa4_name;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "GCC_CODE21" TO gcc_code;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "GCC_NAME21" TO gcc_name;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "STE_CODE21" TO ste_code;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "STE_NAME21" TO ste_name;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "AUS_CODE21" TO aus_code;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "AUS_NAME21" TO aus_name;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "AREASQKM21" TO areasqkm;
ALTER TABLE sa2_greater_sydney RENAME COLUMN "LOCI_URI21" TO loci_uri;

ALTER TABLE school_catchments_primary RENAME COLUMN "USE_ID" TO use_id;
ALTER TABLE school_catchments_primary RENAME COLUMN "CATCH_TYPE" TO catch_type;
ALTER TABLE school_catchments_primary RENAME COLUMN "USE_DESC" TO use_desc;
ALTER TABLE school_catchments_primary RENAME COLUMN "ADD_DATE" TO add_date;
ALTER TABLE school_catchments_primary RENAME COLUMN "PRIORITY" TO priority;
ALTER TABLE school_catchments_primary RENAME COLUMN "KINDERGART" TO kindergart;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR1" TO year1;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR2" TO year2;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR3" TO year3;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR4" TO year4;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR5" TO year5;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR6" TO year6;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR7" TO year7;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR8" TO year8;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR9" TO year9;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR10" TO year10;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR11" TO year11;
ALTER TABLE school_catchments_primary RENAME COLUMN "YEAR12" TO year12;

ALTER TABLE school_catchments_secondary RENAME COLUMN "USE_ID" TO use_id;
ALTER TABLE school_catchments_secondary RENAME COLUMN "CATCH_TYPE" TO catch_type;
ALTER TABLE school_catchments_secondary RENAME COLUMN "USE_DESC" TO use_desc;
ALTER TABLE school_catchments_secondary RENAME COLUMN "ADD_DATE" TO add_date;
ALTER TABLE school_catchments_secondary RENAME COLUMN "PRIORITY" TO priority;
ALTER TABLE school_catchments_secondary RENAME COLUMN "KINDERGART" TO kindergart;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR1" TO year1;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR2" TO year2;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR3" TO year3;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR4" TO year4;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR5" TO year5;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR6" TO year6;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR7" TO year7;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR8" TO year8;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR9" TO year9;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR10" TO year10;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR11" TO year11;
ALTER TABLE school_catchments_secondary RENAME COLUMN "YEAR12" TO year12;

ALTER TABLE school_catchments_future RENAME COLUMN "USE_ID" TO use_id;
ALTER TABLE school_catchments_future RENAME COLUMN "KINDERGART" TO kindergart;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR1" TO year1;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR2" TO year2;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR3" TO year3;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR4" TO year4;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR5" TO year5;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR6" TO year6;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR7" TO year7;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR8" TO year8;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR9" TO year9;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR10" TO year10;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR11" TO year11;
ALTER TABLE school_catchments_future RENAME COLUMN "YEAR12" TO year12;

Expected output:

* postgresql://postgres:***@localhost:5432/data2001_project

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

Done.

[]

In [ ]:
# extracts Points of Interest (POIs) for all SA2 regions within the selected SA4 areas using the NSW POI API.
# avoids reprocessing previously completed regions by checking a partial CSV output.
# fetched POIs are saved incrementally to CSV and finally written to a PostGIS table as a GeoDataFrame.

engine = connect_from_json()

selected_sa4s = [
    "Sydney - Blacktown",
    "Sydney - City and Inner South",
    "Sydney - Eastern Suburbs"
]

sa2 = gpd.read_postgis(
    """
    SELECT * FROM sa2_regions
    WHERE sa4_name IN %(sa4s)s
    """,
    engine,
    params={"sa4s": tuple(selected_sa4s)},
    geom_col="geometry"
)

sa2["bbox"] = sa2.geometry.bounds.apply(lambda row: (row.minx, row.miny, row.maxx, row.maxy), axis=1)

output_path = "selected_sa4_pois_partial.csv"
if os.path.exists(output_path):
    pois_df = pd.read_csv(output_path)
    processed_sa2s = set(pois_df['sa2_name'])
else:
    pois_df = pd.DataFrame()
    processed_sa2s = set()

all_pois = []

for idx, row in sa2.iterrows():
    sa2_name = row["sa2_name"]
    if sa2_name in processed_sa2s:
        print(f"Skipping {sa2_name} (already processed)")
        continue

    minx, miny, maxx, maxy = row["bbox"]
    print(f"Processing {idx + 1}/{len(sa2)}: {sa2_name}")

    result = fetch_pois(minx, miny, maxx, maxy)

    if result and "features" in result:
        for poi in result["features"]:
            all_pois.append({
                "sa2_name": sa2_name,
                "poi_name": poi["properties"].get("poiname") or poi["properties"].get("poilabel") or "Unnamed",
                "category": poi["properties"].get("poitype") or "Unknown",
                "longitude": poi["geometry"]["coordinates"][0],
                "latitude": poi["geometry"]["coordinates"][1],
            })

    if all_pois:
        new_df = pd.DataFrame(all_pois, columns=["sa2_name", "poi_name", "category", "longitude", "latitude"])
        pois_df = pd.concat([pois_df, new_df], ignore_index=True)
        pois_df.to_csv(output_path, index=False)
        all_pois = []

    time.sleep(1)

pois_df = pd.read_csv(output_path)
pois_gdf = gpd.GeoDataFrame(
    pois_df,
    geometry=[Point(xy) for xy in zip(pois_df["longitude"], pois_df["latitude"])],
    crs="EPSG:4326"
)

pois_gdf.to_postgis("selected_sa4_pois", engine, if_exists="replace", index=False)

Expected output:

Connection URL: postgresql://postgres:Lakshya%400710@localhost:5432/data2001_project

Processing 1/72: Blacktown (East) - Kings Park

Processing 2/72: Blacktown (North) - Marayong

Processing 3/72: Doonside - Woodcroft

Processing 4/72: Lalor Park - Kings Langley

Processing 5/72: Blacktown - South

Processing 6/72: Blacktown - West

Processing 7/72: Seven Hills - Prospect

Processing 8/72: Toongabbie - West

Processing 9/72: Glenwood

Processing 10/72: Acacia Gardens

Processing 11/72: Quakers Hill

Processing 12/72: Kellyville Ridge - The Ponds

Processing 13/72: Marsden Park - Shanes Park

Processing 14/72: Riverstone

Processing 15/72: Schofields (West) - Colebee

Processing 16/72: Schofields - East

Processing 17/72: Stanhope Gardens - Parklea

Processing 18/72: Bidwill - Hebersham - Emerton

Processing 19/72: Glendenning - Dean Park

Processing 20/72: Hassall Grove - Plumpton

Processing 21/72: Lethbridge Park - Tregear

Processing 22/72: Mount Druitt - Whalan

Processing 23/72: Prospect Reservoir

Processing 24/72: Rooty Hill - Minchinbury

Processing 25/72: Banksmeadow

Processing 26/72: Botany

Processing 27/72: Pagewood - Hillsdale - Daceyville

Processing 28/72: Port Botany Industrial

Processing 29/72: Sydney Airport

Processing 30/72: Eastlakes

Processing 31/72: Mascot

Processing 32/72: Petersham - Stanmore

Processing 33/72: Sydenham - Tempe - St Peters

Processing 34/72: Marrickville - North

Processing 35/72: Marrickville - South

Processing 36/72: Darlinghurst

Processing 37/72: Erskineville - Alexandria

Processing 38/72: Glebe - Forest Lodge

Processing 39/72: Potts Point - Woolloomooloo

Processing 40/72: Surry Hills

Processing 41/72: Camperdown - Darlington

Processing 42/72: Chippendale

Processing 43/72: Newtown (NSW)

Processing 44/72: Pyrmont

Processing 45/72: Redfern

Processing 46/72: Rosebery - Beaconsfield

Processing 47/72: Sydney (North) - Millers Point

Processing 48/72: Sydney (South) - Haymarket

Processing 49/72: Ultimo

Processing 50/72: Waterloo

Processing 51/72: Zetland

Processing 52/72: Bondi - Tamarama - Bronte

Processing 53/72: Bondi Beach - North Bondi

Processing 54/72: Bondi Junction - Waverly

Processing 55/72: Centennial Park

Processing 56/72: Dover Heights

Processing 57/72: Paddington - Moore Park

Processing 58/72: Rose Bay - Vaucluse - Watsons Bay

Processing 59/72: Woollahra

Processing 60/72: Bellevue Hill

Processing 61/72: Double Bay - Darling Point

Processing 62/72: Kensington (NSW)

Processing 63/72: Kingsford

Processing 64/72: Maroubra - North

Processing 65/72: Maroubra - South

Processing 66/72: Maroubra - West

Processing 67/72: Randwick - North

Processing 68/72: Randwick - South

Processing 69/72: Coogee - Clovelly

Processing 70/72: Malabar - La Perouse

Processing 71/72: Matraville - Chifley

Processing 72/72: South Coogee

After running the last cell, run the .sql files in the following order:

1. Primary Keys and Foreign Keys.sql
2. Task3-1.sql (run it step by step from 1 to 8)
3. Task3-2.sql (run it step by step from 1 to 5)